MMC:CFG_1.0:6:0::
#
MMC_REAL_ROUTINE:

      -name "CSSAct"\
      -default_struct 0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

      -name "CSSDitherAct" -hidden 

      -name "CSSDitherDeact" -hidden 

      -name "CalcForce" -hidden 

      -name "EnableDebug" -hidden 

      -name "YuMiAbsAccRecovery" -hidden 

      -name "YuMiAbsAccRecoveryProc" -hidden 

      -name "ScmCallRoutine" -hidden 

      -name "CalPendelum" -hidden 

      -name "CalPendelumProc" -hidden 

      -name "PendelumProc" -hidden 

      -name "CW_Options" -hidden 

      -name "CW_ReadLevel" -hidden 

      -name "AutoFineCalib" -hidden 

      -name "CW_Refcalib" -hidden 

      -name "ReadBarcode" -hidden 

      -name "CalHall" -hidden 

      -name "CalHallProc" -hidden 

      -name "g_MoveTo"\
      -default_struct 1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 -hidden 

      -name "g_GripIn" -hidden 

      -name "g_GripOut" -hidden 

      -name "g_Stop" -hidden 

      -name "g_Init" -hidden 

      -name "g_Calibrate" -hidden 

      -name "g_SetMaxSpd"\
      -default_struct 1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 -hidden 

      -name "g_SetForce"\
      -default_struct 1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 -hidden 

      -name "g_BlowOn1" -hidden 

      -name "g_BlowOff1" -hidden 

      -name "g_BlowOn2" -hidden 

      -name "g_BlowOff2" -hidden 

      -name "g_VacuumOn1" -hidden 

      -name "g_VacuumOff1" -hidden 

      -name "g_VacuumOn2" -hidden 

      -name "g_VacuumOff2" -hidden 
#
MMC_REAL_PARAM:

      -name "CSSAct_RefFrame" -name_rule "LAST" -def_name "CSS_REFFRAME_TOOL"

      -name "CSSAct_RefOrient" -name_rule "LAST"

      -name "CSSAct_SoftDir" -name_rule "LAST"

      -name "CSSAct_StiffnessNonSoftDir" -name_rule "LAST" -def_name "50"

      -name "CSSAct_Damping" -name_rule "LAST" -def_name "50"

      -name "CSSAct_Stiffness" -name_rule "LAST" -def_name "50"

      -name "CSSAct_Ramp" -name_rule "LAST" -def_name "100"

      -name "CSSDeactMoveL_Speed" -name_rule "LAST" -def_name "v100"

      -name "CSSDeactMoveL_Tool" -name_rule "CUR" -method "hirule_tooldata"

      -name "CSSDeactMoveL_WObj" -name_rule "CUR" -method "hirule_wobjdata"

      -name "CSSDeactMoveL_TLoad" -name_rule "CUR" -method "hirule_tloaddata"

      -name "CSSForceOffsetAct_OffsetDir" -name_rule "LAST"

      -name "CSSForceOffsetAct_ForceRamp" -name_rule "LAST" -def_name "50"

      -name "CSSOffsetTune_RefFrame" -name_rule "LAST"\
      -def_name "CSS_REFFRAME_TOOL"

      -name "CSSOffsetTune_RefOrient" -name_rule "LAST"

      -name "CSSOffsetTune_OffsetDir" -name_rule "LAST"

      -name "CSSOffsetTune_MoveDetected" -name_rule "LAST" -def_name "0.1"

      -name "CSSOffsetTune_DeltaAbsForce" -name_rule "LAST" -def_name "1"

      -name "CSSOffsetTune_MaxTestForce" -name_rule "LAST" -def_name "500"

      -name "common_force" -name_rule "LAST"

      -name "g_MoveTo_targetPos" -name_rule "VAL"

      -name "g_MoveTo_NoWait" -name_rule "NONE"

      -name "g_GripIn_holdForce" -name_rule "NONE"

      -name "g_GripIn_targetPos" -name_rule "NONE"

      -name "g_GripIn_posAlowance" -name_rule "NONE"

      -name "g_GripOut_holdForce" -name_rule "NONE"

      -name "g_GripOut_targetPos" -name_rule "NONE"

      -name "g_GripOut_posAlowance" -name_rule "NONE"

      -name "g_Init_maxSpd" -name_rule "NONE"

      -name "g_Init_holdForce" -name_rule "NONE"

      -name "g_Init_phyLimit" -name_rule "NONE"

      -name "g_Init_Calibrate" -name_rule "NONE"

      -name "g_Calibrate_Jog" -name_rule "NONE"

      -name "g_SetMaxSpd_maxSpdInMm" -name_rule "VAL"

      -name "g_SetForce_holdForceInN" -name_rule "VAL"

      -name "g_VacuumOn1_threshold" -name_rule "NONE"

      -name "g_VacuumOn2_threshold" -name_rule "NONE"
#
MMC_REAL_PARAM_SEQ_METHOD:

      -name "method"
#
MMC_COMMON_PARAM:

      -name "CSSDeactMoveL_ToPoint" -common_space_name "common_point"

      -name "CSSOffsetTune_ForceOffset" -common_space_name "common_force"

      -name "CSSForceOffsetAct_Force" -common_space_name "common_force"
#
MMC_INSTR_WITH_TLOAD:

      -name "CSSDeactMoveL" -param_nr 5
#
MMC_SELECT_PARAM:

      -name "g_MoveTo" -param_nr 1

      -name "g_SetSpd" -param_nr 1

      -name "g_SetForce" -param_nr 1
#
MMC_CHANGE_MOTION_MODE:

      -name "g_GripIn" -shift_name "g_GripOut"

      -name "g_GripOut" -shift_name "g_GripIn"

      -name "g_BlowOn1" -shift_name "g_BlowOff1"

      -name "g_BlowOff1" -shift_name "g_BlowOn1"

      -name "g_BlowOn2" -shift_name "g_BlowOff2"

      -name "g_BlowOff2" -shift_name "g_BlowOn2"

      -name "g_VacuumOn1" -shift_name "g_VacuumOff1" -param_restr 1

      -name "g_VacuumOff1" -shift_name "g_VacuumOn1"

      -name "g_VacuumOn2" -shift_name "g_VacuumOff2" -param_restr 1

      -name "g_VacuumOff2" -shift_name "g_VacuumOn2"

      -name "g_JogIn" -shift_name "g_JogOut"

      -name "g_JogOut" -shift_name "g_JogIn"
#
MMC_PALETTE_HEAD:

      -name "M.C 1" -type "MMC_MC1"

      -name "M.C 2" -type "MMC_MC2"

      -name "M.C 3" -type "MMC_MC3"

      -name "SmartGripper" -type "MMC_SMARTGRIPPER"
#
MMC_SERV_ROUT_STRUCT:

      -name "YuMiAbsAccRecovery"

      -name "ScmCallRoutine"

      -name "CalPendelum"

      -name "CalHall"
#
IOVIEW_BLOCK:

      -name "IOViewBlockIfMotorsOff"
#
WARN_AT_START:

      -name "WarningAtStart" -cursor_pp_diff_warning 0\
      -show_pp_to_cursor_button 0
#
AUTO_SWITCH_OF_JOG_UNIT:

      -name "AutoSwitchOfJogUnit"
#
BACKUP_DEFAULT:

     
      -name "Backup"
#
MMC_MOTIONADV = MMC_PALETTE:

      -name "CSSAct"

      -name "CSSDeact"

      -name "CSSDeactMoveL"

      -name "CSSForceOffsetAct"

      -name "CSSForceOffsetDeact"

      -name "CSSOffsetTune"
#
MMC_MC1 = MMC_PALETTE:

      -name "MoveJ" -only_mec_task 

      -name "MoveL" -only_mec_task 

      -name "MoveC" -only_mec_task 

      -name "ProcCall"

      -name "Set"

      -name "Reset"

      -name "WaitTime"

      -name "WaitDI"

      -name "IF"

      -name "Compact IF"

      -name ":="

      -name "Incr"

      -name "Add"

      -name "Decr"
#
MMC_MC2 = MMC_PALETTE:

      -name "MoveJ" -only_mec_task 

      -name "MoveL" -only_mec_task 

      -name "MoveC" -only_mec_task 

      -name "ProcCall"

      -name "Set"

      -name "Reset"

      -name "WaitTime"

      -name "WaitDI"

      -name "IF"

      -name "Compact IF"

      -name ":="

      -name "Incr"

      -name "Add"

      -name "Decr"
#
MMC_MC3 = MMC_PALETTE:

      -name "MoveJ" -only_mec_task 

      -name "MoveL" -only_mec_task 

      -name "MoveC" -only_mec_task 

      -name "ProcCall"

      -name "Set"

      -name "Reset"

      -name "WaitTime"

      -name "WaitDI"

      -name "IF"

      -name "Compact IF"

      -name ":="

      -name "Incr"

      -name "Add"

      -name "Decr"
#
MMC_SMARTGRIPPER = MMC_PALETTE:

      -name "g_MoveTo"

      -name "g_GripIn"

      -name "g_GripOut"

      -name "g_Stop"

      -name "g_Init"

      -name "g_Calibrate"

      -name "g_SetMaxSpd"

      -name "g_SetForce"

      -name "g_BlowOn1"

      -name "g_BlowOff1"

      -name "g_BlowOn2"

      -name "g_BlowOff2"

      -name "g_VacuumOn1"

      -name "g_VacuumOff1"

      -name "g_VacuumOn2"

      -name "g_VacuumOff2"

      -name "g_JogIn"

      -name "g_JogOut"
